<article class="big-card__container">
    <header>
        
        <div class="big-card__photo">
            <img src="{{photoCover}}" alt="{{photoCoverAlt}}"
            height="300px"
            width="500px">
        </div>
        
        <div class="big-card__title">
            <h2><a [routerLink]="['content', id]">{{cardTitle}}</a></h2>
        </div>
    
    </header>

    <section class="big-card__description">

        <p><a [routerLink]="['content', id]">{{cardDescription}}</a></p>
        
    </section>
</article>