.big-card__container {
    border: solid white 2px;
    margin: 0 1rem 0 5rem;
    width: 505px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.big-card__title {
    margin: 2rem 0 1rem 0;
}

.big-card__title h2{
    font-size: 30px;
}

.big-card__title a {
    text-decoration: none;
}

.big-card__description p a {
    color: gray;
    text-decoration: none;
}

.big-card__photo img {
    width: 100%;
    min-width: 400px;
}