<article class="big-card__container">
    <header>
        
        <div class="big-card__photo">
            <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" alt=""
            height="300px"
            width="500px">
        </div>
        
        <div class="big-card__title">
            <h2><a href="#">Saiu a notícia que o mundo não acreditou!</a></h2>
        </div>
    
    </header>

    <section class="big-card__description">

        <p><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, reiciendis asperiores! Esse ipsum sit, aut eos facilis cum deserunt vero dolorum id repudiandae rerum reiciendis. Accusantium dolor ad maxime tempora!</a></p>
        
    </section>
</article>