.small-card__container {
    width: 40rem;
    margin: 1rem 0;
}
.small-card__container section {
    display: flex;
    flex-direction: row;
}

.small-card__photo img {
    width: 200px;
    min-width: 200px;
    max-height: 150px;
    margin: 0 1.5rem 0 0;
}

.small-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-card__title a {
    text-decoration: none;
}