<header>
    <app-menu-title></app-menu-title>
</header>
<article class="container__posts">
    <section class="main__article">
        <app-big-card 
        photoCover="https://a.storyblok.com/f/178900/640x360/2327d48b89/dcd33d0ac75ef5bd7f6ab6c541f304ed1682302231_main.jpg/m/filters:quality(95)format(webp)"
        photoCoverAlt="Banner da nova temporada de Arknights."
        cardTitle="Arknights Perish in Frost data de lançamento confirmada."
        cardDescription="Nova temporada de Arknights, nomeada de 'Arknights Perish in Frost', tem sua data de estreia revelada. Esse temporada irá adaptar os capítulos 4 até o 6 do jogo."
        id="1"
        ></app-big-card>
    </section>
    <section class="articles__others">
        <app-small-card
        cardTitle="Novo campeão lançado no jogo League of Legends."
        photoCover="https://preview.redd.it/full-splash-briar-v0-9666ryap3wjb1.jpeg?width=3200&format=pjpg&auto=webp&s=83d0f591da4a34be4a0aa16de3eb99993de3c691"
        photoCoverAlt="Imagem da splash art do novo campeão 'Briar'."
        id="2"
        ></app-small-card>

        <app-small-card
        cardTitle="Nova série de one piece é um sucesso!"
        photoCover="https://d2d7ho1ae66ldi.cloudfront.net/ArquivoNoticias/688887d4-533a-11ee-aa6e-9587410378a2/one-piece-live-action-1-1024x768.jpg"
        photoCoverAlt="Imagem da série live action de One Piece"
        id="3"
        ></app-small-card>

        <app-small-card
        photoCover="https://upload.wikimedia.org/wikipedia/pt/thumb/6/68/Puella_Magi_Madoka_Magica_Rebellion.jpg/200px-Puella_Magi_Madoka_Magica_Rebellion.jpg"
        photoCoverAlt="Banner do novo filme de Madoka"
        cardTitle="Novo filme de Madoka Magica anunciado após 7 anos!"
        id="4"
        ></app-small-card>
    </section>
</article>